<!doctype html>
<div  class="main">
    <div class="butt">
        <button  class="btn btn-primary" (click)="gotoAddBook()" >Add Books</button> <br/><br/>
        <button  class="btn btn-primary" (click)="gotoListBooks()">List Books</button> <br/>
    </div>
</div>
