.main{
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: rgb(215, 181, 247);
}
  
button{
      margin-right: 20px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 20px;
      color: white;
      background-color:  rgb(7, 7, 7);
      border: solid;
      border-radius: 7px; 
      border-width: 0px;
}
  
button:hover{
      background-color: rgb(90, 89, 90);
}
.second{
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
      display: flex;
      justify-content: space-between;
}
  ul{
    display: flex;
    justify-content: space-between;
  }

