.first{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.first div{
    border-color: black;
}

.second{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    color: blueviolet;
}

h2{
    padding-left: 80px;
}

button{
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    background-color:  rgb(7, 7, 7);
    border: solid;
    border-radius: 7px; 
    border-width: 0px;
}

 button:hover{
    background-color: rgb(90, 89, 90);
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.main div{
    padding-right: 80px;
}

.third{
  display: flex;
  justify-content: center;
  padding: 40px;
}

.third div{
  padding: 10px;
}