<!doctype html>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' 
integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
crossorigin='anonymous'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div *ngIf="book">

  <div class="main"> <h2>Book Details :</h2>  
    <button class="b1" (click)="gotoHome()"><i class='fas fa-home'></i></button>     
  </div>

  <div class="first">
    <div><h3>ISBN Number :</h3><h4>{{book.isbnNo}}</h4></div>
    <div><h3>Book Name :</h3><h4>{{book.title}}</h4></div>    
  </div>
  
  <div class="second" >
      <div><h3>Author Name :</h3><h4>{{book.author}}</h4></div>
      <div><h3>Description :</h3><h4>{{book.desc}}</h4></div>
  </div>

  <div class="third">
      <div (click)= 'editBook()'><button><i class='fas fa-edit'></i></button></div>
      <div><button><i class='material-icons' (click)= 'deleteBook()'>delete_forever</i></button></div>
      <div><button class="b3" (click)="goBack()">Go Back</button></div>	
  </div>
  
</div>
  
