.header{ 
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    color:black;
}

img{
    width: 100px;
    height: 100px;
}

.main{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background-color: rgb(160, 232, 245);
}

